body {
	background-color: linen;
}

div.province {
	width: 100%;
	border: 1px solid black;
	text-align: center;
}

div.region {
	height: 600px;
	width: 275px;
	display: inline-block;
	border: 1px solid black;
	text-align: left;
	vertical-align: top;
}

img.buildingicon {
	height: 50px;
    width: 50px;
}